{% extends 'admin/admin.html.twig' %}
{% block title %}Editer une catégorie
{% endblock %}
{% block body %}

	<h1>Editer la catégorie</h1>
	{{ form_start(form) }}
	<div class="d-flex">
		{{ form_row(form.name) }}

	</div>
	<div class="d-flex">
		{{ form_row(form.slug) }}
	</div>
	{{ form_end(form) }}
{% endblock %}
